.container1 { 
    color:navy ;
           
h1 { 
    color: white
    text-align:center;
    background-color:navy;
}

nav { 
    text-align: center; 
    padding: 10px;
}

nav li {
       display: inline-block;
       text-align: center;
       margin:auto;
       padding: 10px;
}
