<<<<<<< HEAD
.contenteiner { 
    color: blue;
}
.content1 { 
    list-style: none;
    display: flex;
}
=======
container{
    color: #070125;
    display: block;
}

.container1 { 
    color:navy ;
>>>>>>> 01ef884cc6b6915bd359818cb3ffd0f0bf22e5a6
           
 nav-right: auto; { 
    text-align: center; 
    padding: 10px;
}

 nav li {
       display: inline-block;
       text-align: center;
       margin:auto;
       padding: 10px;
}

.content2{
    display: flex;
}

h1{
    color: white;
}