body {
    background-color: #070125; 
}
.container{
    display: flex;
    margin: 0 auto;
}

.content1 { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}   
.botonmenu, .fotomenu{ 
    display: none;
} 

.head{ 
    margin-left: 150px;
    margin-top: 80px;

}
.botonmenu {
    display: none;
}
.menu { 
   
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 30%;
    margin-top: 90px;
    flex-direction: row;
}

 ol { 
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    display: flex;
}
li {
       margin: 10px;
       list-style: none;
       color: white;
}
.signin { 
    color:#00F387;
}  

.content2{
    display: flex;
    margin: 50px;
}

h1{
    color: white;
    font-size: 70px;
}

p{
    color: #B8B8B8;
}

.music {
    margin-left: 100px;
}

.green {
    background-color: #00F387;
    border-radius: 30px;
    color: white;
    padding-left: 55px;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    font-style:normal;
    width: 192px;
    height: 52px;
}

.drumkitimage{
   margin-left: 180px;
   position: relative;
   display: flex;
}
.boton1 {
position: absolute;
border-radius: 50%;
 background-color: white;
 border: none;
 top: 30px;
 left: 10px;
}
.boton2 {
    position: absolute;
    width: 90px ;
    height:90px;
    border-radius: 50px;
    background-color:white;
    border: none
   }

   .boton3 {
    width: 90px ;
    height:90px;
    border-radius: 50px;
    background-color: black;
   }
   .boton4 {
    width: 90px ;
    height:90px;
    border-radius: 50px;
    background-color: black;
   }
   .boton5 {
    width: 130px ;
    height:130px;
    border-radius: 80px;
    background-color: black;
   }
   .boton6{
    width: 130px ;
    height:130px;
    border-radius: 80px;
    background-color: black;
   }
   .boton7 {
    width: 130px ;
    height:130px;
    border-radius: 80px;
    background-color: black;
   }
   .boton8 {
    width: 130px ;
    height:130px;
    border-radius: 80px;
    background-color: black;
   }
   .boton5 {
    width: 130px ;
    height:130px;
    border-radius: 80px;
    background-color: black;
   }

.boton1 {
    width: 90px ;
    height:90px;
    border-radius: 50px;
    background-color: black;
    
   }
   .boton2 {
       width: 90px ;
       height:90px;
       border-radius: 50px;
       background-color: black;
      }
   
      .boton3 {
       width: 90px ;
       height:90px;
       border-radius: 50px;
       background-color: black;
      }
      .boton4 {
       width: 90px ;
       height:90px;
       border-radius: 50px;
       background-color: black;
      }
      .boton5 {
       width: 130px ;
       height:130px;
       border-radius: 80px;
       background-color: black;
      }
      .boton6{
       width: 130px ;
       height:130px;
       border-radius: 80px;
       background-color: black;
      }
      .boton7 {
       width: 130px ;
       height:130px;
       border-radius: 80px;
       background-color: black;
      }
      .boton8 {
       width: 130px ;
       height:130px;
       border-radius: 80px;
       background-color: black;
      }
      .boton5 {
       width: 130px ;
       height:130px;
       border-radius: 80px;
       background-color: black;
      }
   

.muestra {
    display: none;
}

.content3 {
    display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding-bottom: 100px;
    }

.textfooter {
    font-size: 30px;
}

.white {
    background-color: #ffffff;
    border-radius: 30px;
    color:black;
    padding-left: 55px;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    font-weight: bolder;
}

@media only screen and (max-width:400px){
   .content1 {
       flex-direction: column;
    }

   .header p  {
       margin-left: 15%;
       margin-right: 15%;
    font-weight: bold;
    margin-top: 0%;
    }   
.header  { 
    display: inline-flex;
    color: white;
    margin-top: 0%;
}
.header img { 
    height: 20px;
}
.botonmenu {
background-color: #00F387;
width: 60px;
height: 30px;
margin-left: 300px;
border-radius: 20px ;
display: revert;
}

.fotomenu {
height: 90% ;
}
       
    .head{ 
        margin-left: 18%;
        margin-top: 18%;
        display: flex;
        align-items: center;
    }
    .menu { 
       
        display: none;
    
    }
    
    
    .content2{
    
        margin: 10px;
        display: block;
        display: flex;
        flex-direction: column-reverse;
    }

    h1{
        font-size: 40px;
    }
    
  
    .music {
        margin-left: 18%;
        text-size-adjust: 10%;
    }
    
    .green {
       
        width: 200px;
        height: 50px;
        margin-left: 3%;
    }
    
    .drumkitimage{
        margin-left: 18%;
    }

    .boton1 {
        width: 20px ;
        height:20px;
        border-radius: 20px;
        background-color: black;
        
       }
       .boton2 {
           width: 20px ;
           height:20px;
           border-radius: 20px;
           background-color: black;
          }
       
          .boton3 {
           width: 20px ;
           height:20px;
           border-radius: 20px;
           background-color: black;
          }
          .boton4 {
           width: 20px ;
           height:20px;
           border-radius: 20px;
           background-color: black;
          }
          .boton5 {
           width: 30px ;
           height:30px;
           border-radius: 30px;
           background-color: black;
          }
          .boton6{
           width: 30px ;
           height:30px;
           border-radius: 30px;
           background-color: black;
          }
          .boton7 {
           width: 30px ;
           height: 30px;
           border-radius: 30px;
           background-color: black;
          }
          .boton8 {
           width: 30px ;
           height:30px;
           border-radius: 30px;
           background-color: black;
          }
          

    .drum {
        width: 200px;
        height: 150px;
        padding: 2%;
        margin-left: auto;    
    }
    
    
    .textfooter {
            font-size: 15px;
            text-align: center;
        }
        
  
    .white {
        background-color: #ffffff;
        border-radius: 10px;
        color:black;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-weight: bolder;
    }

    .boton1 {
        width: 20px ;
        height:20px;
        border-radius: 20px;
        background-color: black;
        
       }
       .boton2 {
           width: 20px ;
           height:20px;
           border-radius: 20px;
           background-color: black;
          }
       
          .boton3 {
           width: 20px ;
           height:20px;
           border-radius: 20px;
           background-color: black;
          }
          .boton4 {
           width: 20px ;
           height:20px;
           border-radius: 20px;
           background-color: black;
          }
          .boton5 {
           width: 30px ;
           height:30px;
           border-radius: 30px;
           background-color: black;
          }
          .boton6{
           width: 30px ;
           height:30px;
           border-radius: 30px;
           background-color: black;
          }
          .boton7 {
           width: 30px ;
           height: 30px;
           border-radius: 30px;
           background-color: black;
           }
}